In [17]:
%matplotlib inline

import sys

import pandas as pd
import seaborn as sns
import Quandl

sys.path.append('/Users/ryanchouck/dev/re/FigureData')

sns.set_context("paper")

In [148]:
hoods = pd.read_csv('data/hood_codes.csv', delimiter='|', dtype='str')
main_cols = hoods.columns[0].split(',')
hoods = hoods[hoods.ix[:,0].map(lambda x: True if len(x.split(','))==len(main_cols) else False)]
hoods = pd.concat([hoods.ix[:,0].apply(lambda x: pd.Series(x.split(','))), hoods.ix[:,1]], axis=1)
hoods.columns = ['hood', 'city', 'state', 'region', 'county', 'code']
hoods.head()

                hood         city state       region       county   code
0           Paradise    Las Vegas    NV    Las Vegas        Clark  00001
1    Upper West Side     New York    NY     New York     New York  00002
2  South Los Angeles  Los Angeles    CA  Los Angeles  Los Angeles  00003
3       Sherman Oaks  Los Angeles    CA  Los Angeles  Los Angeles  00004
4      Sunrise Manor    Las Vegas    NV    Las Vegas        Clark  00005

In [192]:
hoods[hoods.city=='Fresno']

                    hood    city state  region  county   code
20             Roosevelt  Fresno    CA  Fresno  Fresno  00021
33               Bullard  Fresno    CA  Fresno  Fresno  00034
102        Woodward Park  Fresno    CA  Fresno  Fresno  00103
109  Fresno High Roeding  Fresno    CA  Fresno  Fresno  00110
124               Hoover  Fresno    CA  Fresno  Fresno  00125
138               Mclane  Fresno    CA  Fresno  Fresno  00139
232                 West  Fresno    CA  Fresno  Fresno  00233
402               Edison  Fresno    CA  Fresno  Fresno  00403
633              Central  Fresno    CA  Fresno  Fresno  00634

In [136]:
indicator = pd.read_csv('data/indicator_codes.csv')
indicator.columns = reversed(list(indicator.columns))

In [187]:
indicator.head()

             Indicator Name Indicator Code
0                 All Homes              A
1  Single Family Residences             SF
2              Condominiums              C
3     Price per Square Foot           MVSF
4                 1 Bedroom             1B

In [191]:
i = 6
h = 1832
print indicator.ix[i,:]
print
print hoods.ix[h]
print

Quandl.get("ZILL/N{0}_{1}".format(hoods.ix[h,'code'], indicator.ix[i,1]))

Indicator Name    3 Bedroom
Indicator Code           3B
Name: 6, dtype: object

hood      Century City
city       Los Angeles
state               CA
region     Los Angeles
county     Los Angeles
code             01833
Name: 1832, dtype: object

              Value
Date
1998-02-28   465200
1998-03-31   474200
1998-04-30   477000
1998-05-31   475700
1998-06-30   481400
1998-07-31   488900
1998-08-31   493600
1998-09-30   497400
1998-10-31   508800
1998-11-30   521500
1998-12-31   532400
1999-01-31   535600
1999-02-28   538400
1999-03-31   545600
1999-04-30   553100
1999-05-31   553000
1999-06-30   548200
1999-07-31   545000
1999-08-31   548900
1999-09-30   558200
1999-10-31   562100
1999-11-30   559500
1999-12-31   555200
2000-01-31   550100
2000-02-29   546200
2000-03-31   551400
2000-04-30   565300
2000-05-31   578700
2000-06-30   586900
2000-07-31   589100
...             ...
2013-03-31  1145300
2013-04-30  1143600
2013-05-31  1134500
2013-06-30  1124300
2013-07-31  1133300
2013-08-31  1152200
2013-09-30  1169200
2013-10-31  1165200
2013-11-30  1154200
2013-12-31  1156600
2014-01-31  1176200
2014-02-28  1190700
2014-03-31  1195500
2014-04-30  1192900
2014-05-31  1196200
2014-06-30  1207500
2014-07-31  1219300
2014-08-31  1221600
2014-09-30  1222300
2014-10-31  1238200
2014-11-30  1262000
2014-12-31  1279500
2015-01-31  1290900
2015-02-28  1305700
2015-03-31  1299800
2015-04-30  1301000
2015-05-31  1319300
2015-06-30  1338000
2015-07-31  1351300
2015-08-31  1397800

[211 rows x 1 columns]